if SHIELD_CLEAR_ORANGE_LEFT

config ZMK_KEYBOARD_NAME
    default "clearorange"

endif

if SHIELD_CLEAR_ORANGE_RIGHT

config ZMK_KEYBOARD_NAME
    default "clearorange"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

config ZMK_BOARD_COMPAT
    def_bool y
