/* clear_orange_right.overlay */
#include "clear_orange.dtsi"

&kscan0 {
    // 列の定義（成功した内容をそのまま）
    col-gpios
        = <&gpio0 31 GPIO_ACTIVE_LOW>
        , <&gpio0 29 GPIO_ACTIVE_LOW>
        , <&gpio0 2  GPIO_ACTIVE_LOW>
        , <&gpio1 15 GPIO_ACTIVE_LOW>
        , <&gpio1 13 GPIO_ACTIVE_LOW>
        , <&gpio1 11 GPIO_ACTIVE_LOW>
        , <&gpio0 10 GPIO_ACTIVE_LOW>
        ;
};

/ {
    trackball: trackball {
        compatible = "zmk,input-sensor-pmw3610"; // MX8650A互換
        status = "okay";
        // 回路図 PIN 12 = P1.06 (SCLK) 
        sclk-gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
        // 回路図 PIN 11 = P1.04 (SDIO) 
        sdio-gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
        cpi = <800>;
    };
};
