if SHIELD_CLEAR_ORANGE_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "clear_orange"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CLEAR_ORANGE_LEFT || SHIELD_CLEAR_ORANGE_RIGHT

config ZMK_SPLIT
    default y

endif
