# No whitespace after the comma or in your part name!
config SHIELD_CLEAR_ORANGE_LEFT
    def_bool $(shields_list_contains,clear_orange_left)

# No whitespace after the comma or in your part name!
config SHIELD_CLEAR_ORANGE_RIGHT
    def_bool $(shields_list_contains,clear_orange_right)
